#logo-search {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-bottom: 40vh;
}

#logo-search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

body, html {
    height: 100%;
    overflow: hidden;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

li {
    display: inline;
    padding: 0.7em;
}

#search {
    margin-top: 2vh;
    width: 45%;
    height: 2em;
    border-radius: 1000px;
}

#footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
}

#topbar {
    margin-bottom: 1vh;
}